# Created by .ignore support plugin (hsz.mobi)

### macOS template
*.DS_Store
.AppleDouble
.LSOverride

# IntelliJ project files
.idea
*.iml
out
gen
build
rebel.xml


# Target folder installing by maven
target